*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.App{
    color: blue;
    min-height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
}
.card{
    border: 10px solid red;
    /* padding: 10px 20px; */
    width: 341px;
    height: 369px;
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 40px); */
	grid-template-columns: repeat(auto-fill, 40px);
	grid-template-rows: repeat(auto-fill, 40px);
    padding: 0;
    margin: 4px;
}

.box{
    /* background-color: red; */
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    /* border: 1px solid gray; */
}
.Row:nth-child(odd)
.box:nth-child(odd) {
    background: red;
  }
  .Row:nth-child(even)
 .box:nth-child(even) {
    background:red;
  }
